@font-face {
    font-family: "Lexend-Regular";
    src: url('../font/Lexend-Regular.ttf');
}

h1, h2, p, span, .h1, .h2, .p, .span  {
    font-family: "Lexend-Regular", sans-serif;
}

.list-unstyled {
    text-overflow: ellipsis;
    list-style-position: outside;
}


.list-title {
    padding: 1em;
    font-weight: bold;
}

.item {   
    font-size: 2.5rem;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;     /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
    text-indent: -1em;
    padding: 0.3em 0 0.3em 2em;
}

.text {
    font-size: 2.5rem;
}

.update-date {
    position: absolute;
    bottom: 0;
    right: 0;
}