<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body style="background: url('background.jpg') no-repeat center center fixed; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">

                {% for data in data_list %}
                    <div class="col-md-6">
                        <div class="row justify-content-center center-block text-center">
                            <h2 class="col-1 list-title">{{ data.title }}</h2>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-md-12">
                                {% if data.is_list %}
                                    <ol class="list-unstyled">
                                        {% for item in data.items %}
                                            <li class="item">
                                                <span> {{ item|replace('\n', '<br>')|safe }} </span> 
                                            </li>
                                        {% endfor %}
                                    </ol>
                                {% else %}
                                    <p class="text"> {{ data.text|replace('\n', '<br>')|safe }} </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="update-date">
            <p> Generated: {{ timestamp }} </p>
        </div>
    </body>
</html>
