<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body style="background: url('background.jpg') no-repeat center center fixed; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">

                <!-- Left -->
                <div class="col-md-6">
                    <div class="row justify-content-center center-block text-center">
                        <h2 class="col-1 list-title">{{ trello_list_name }}</h2>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-md-12">
                            <ol class="list-unstyled">
                                {% for item in trello_items %}
                                    <li class="item">
                                        <span> {{ item }} </span> 
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="col-md-6">
                    <div class="row justify-content-center center-block text-center">
                        <h2 class="col-1 list-title">{{ googleKeepNoteName }}</h2>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-md-12">
                            {% if is_google_keep_list %}
                                <ol class="list-unstyled">
                                    {% for item in google_keep_note_items %}
                                        <li class="item">
                                            <span> {{ item|replace('\n', '<br>')|safe }} </span> 
                                        </li>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                <p class="text"> {{ google_keep_note_items|replace('\n', '<br>')|safe }} </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="update-date">
            <p> Generated: {{ timestamp }} </p>
        </div>
    </body>
</html>
